*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color: black;
    height: 50px;
    padding: 20px;
}

h1{
    color: black;
    text-align: center;
    margin: 0 0 50px 0;
}  
#logo{
    float: left;
}
p{
    color: white;
}

footer{
    color: white;
    font-size: medium;
    clear: both;
    background-color: black;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.container{
    width: 960px;
    margin: auto;
}
#menu{
    margin-top: 20px;
    float: right;
}
#menu a {
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
#menu a:hover{
    background-color: white;
    color: black;
}
.vid{
    display: flex;
    flex-direction: row;
    border: 5px solid black;

}
.botao{
    color: red;
    size: 20px;
    bottom: size 10px;
}
.titlevid{
    font-size: 20px;
}
.clic{
    border-radius: 60px;
    
   }